<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title %}
      {{ page.title }} · {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">

  {% include analytics.html %}
  
</head>

<body>
  <div class="container">
    <header class="playground-hero">
      <h1>{{ page.hero_title | default: site.title }}</h1>
      <p class="subtitle">
        {{ page.subtitle | default: site.description }}
      </p>
      {% if page.tagline %}
        <p class="tagline">{{ page.tagline }}</p>
      {% endif %}
    </header>

    {{ content }}

    {% include footer.html %}
  </div>
</body>
</html>